body {
    font-family: Arial, sans-serif;
    text-align: center;
    transition: background-color 0.5s ease;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

button {
    padding: 12px 20px;
    font-size: 18px;
    border: none;
    background: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: background 0.3s;
}

button:hover {
    background: #0056b3;
}

p {
    font-size: 18px;
    font-weight: bold;
}

#colorCode {
    color: #333;
    font-weight: bold;
}